---
---

@import "{{ site.theme }}";

.page-header {
  //color: #ffff;
 // background-color: #402010;
  background-image: url("/images/sample-background.jpg");
}

.cfp-ext{
  color : red;
  font-weight:bold;
  margin-left:0.5cm
}
